* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #2a5637;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  nav li.active a,
  nav li a:hover {
    background-color: #555;
  }
  
  aside {
    background-color: #eee;
    padding: 20px;
  }
  
  #content {
    padding: 20px;
    flex-grow: 1;
  }
  
  footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  input{
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    transition: width 0.4s ease-in-out;
  }
  #submitBtn{
      background-color: #2a5637;
      border: none;
      border-radius: 6px;
      color: white;
      padding: 6px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
  }
  #cancelBtn{
    background-color: #2a5637;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #searchColumn{
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    transition: width 0.4s ease-in-out;
  }

  .subnav {
    background-color: #2a5637;
    color: white;
    text-align: center;
  }
  .subnav ul {
    list-style-type: none;
    display: flex;
  }
  
  .subnav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  .subnav li.active a,
  .subnav li a:hover {
    background-color: #2f633f;
  }
  section {
    margin: 20px 0;
    padding: 10px;
  }

  hr {
    border: 1px solid #2f633f;
    margin: 20px 0;
  }

  h2{
    font-size: 24px;
    margin-bottom: 10px;
  }
  button {
    background-color: #2a5637;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  #drag-box {
    width: 120px;
    padding: 10px;
    background-color: #2a5637;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: grab;
  }

  #drop-zone {
    width: 200px;
    height: 120px;
    border: 2px dashed #999;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-radius: 10px;
  }

  #drop-zone.hover {
    background-color: #aed1b8;
    border-color: #2f633f;
  }
  label {
    display: inline-block;
    width: 80px;
  }
  input {
    margin-bottom: 5px;
  }
  .message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
  }
  .error {
    color: red;
  }
  .animal-card { 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 5px; 
    border-radius: 10px; 
  }
  select{
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    transition: width 0.4s ease-in-out;
    margin-bottom: 5px;
  }