* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #2a5637;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
 ul {
    list-style-type: none;
  }
  
  li a {
    display: block;
    width: 130px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }
  
  footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
  }